<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="search">Search for Internships</a>
      <a mat-list-item routerLink="profile">Profile</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img src="http://localhost:63342/hiveClient/hiveClient/src/app/assets/hiveLogo.svg?_ijt=2i2b7d5b0ug8r9ie8u5dpoqac5g" height="60" width="60">
      <a  [routerLink]="['/dashboard', userId]" >Hive</a>
      <span class="spacer"> </span>
      <a  [routerLink]="['/search', userId]">Search for Internships</a>
      <a  [routerLink]="['/profile', userId]">Profile</a>
    </mat-toolbar>
    <ng-content>
    </ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
